# Request timeout (ms)
REQUEST_TIMEOUT=500

# Mojaloop Connector outbound endpoint and port
OUTBOUND_ENDPOINT=http://localhost:1080

# DFSP Backend endpoint and port
BACKEND_ENDPOINT=http://localhost:1080/backend

# Server listen port for inbound/outbound requests to this connector
LISTEN_PORT=3003

# XSD/XML templates directory
TEMPLATES_PATH=build/templates

# Redis Host
CACHE_HOST=redis

# Redis Port
CACHE_PORT=6379
