# Request timeout (ms)
REQUEST_TIMEOUT=500

# Callback Handler timeout (s) to correlate the inbound PostTransfer and async ISO-2022 PACS.02 Callback from the Receiver
CALLBACK_TIMEOUT=30

# Mojaloop Connector outbound endpoint and port
OUTBOUND_ENDPOINT=http://localhost:1080/outbound

# DFSP Backend endpoint and port
BACKEND_ENDPOINT=http://localhost:1080/backend

# Server listen port for inbound/outbound requests to this connector
LISTEN_PORT=3003

# XSD/XML templates directory
TEMPLATES_PATH=build/templates

# Redis Host
CACHE_HOST=localhost

# Redis Port
CACHE_PORT=6379
