# Request timeout (ms)
REQUEST_TIMEOUT=500

# Mojaloop Connector outbound endpoint and port
OUTBOUND_ENDPOINT=http://scheme-adapter:4001 

# Server listen port for inbound/outbound requests to this connector
LISTEN_PORT=3000

# If set to false, transfers are paused at pary lookup stage until a subsequent PUT /transfers/{transferID}
# is sent accepting the party for the transfers to proceed to quoting.
# Should match corresponding setting in the Mojaloop Connector/SDK Scheme Adapter
AUTO_ACCEPT_PARTY=false

# If set to false, transfers are paused at quoting stage until a subsequent PUT /transfers/{transferID}
# is sent accepting the quote for the transfers to proceed.
# Should match corresponding setting in the Mojaloop Connector/SDK Scheme Adapter
AUTO_ACCEPT_QUOTES=false
